<div id="footer-slim" class="footer">
  <div class="container">

  <hr />

  <br />

  <div class="row">
    <div class="col-md-12 subfooter">
      <a href="https://www.ornl.gov/" target="_blank"><img src="https://cdn.llnl.gov/onelab/latest/images/llnl.png" alt="ORNL" border="0" /></a>
      <p> Oak Ridge National Laboratory <br /> 7000 East Avenue &bull; Livermore, CA 94550 </p>
      <p> Managed by UT-Batelle LLC, for the <br /> US Department of Energy. </p>
      <a class="nnsa" href="https://nnsa.energy.gov/" target="_blank"><img src="https://cdn.llnl.gov/onelab/latest/images/nnsa.png" alt="NNSA" border="0" /></a>
      <a class="doe" href="https://energy.gov/" target="_blank"><img src="https://cdn.llnl.gov/onelab/latest/images/doe_small.png" alt="U.S. DOE" border="0" /></a>
      <a class="llns" href="http://www.llnsllc.com/" target="_blank"><img src="https://cdn.llnl.gov/onelab/latest/images/llns.png" alt="LLNS" border="0" /></a>
    </div>

    <div class="col-md-12 subfooter">
      <span>{{ site.llnl.release_number }} &nbsp;|&nbsp;&nbsp;</span>
      <a href="https://www.llnl.gov/disclaimer" target="_blank">Privacy &amp; Legal Notice</a>
    </div>
  </div>
  </div>
</div>
